.main{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.no-decoration{
    list-style-type: none;
}
.no-decoration > li{
    margin: 24px;
}
.icon{
    width: 2rem;
    height: auto;
}
.sidebar a{
    color: black;
}
.fonte-grande {
    font-size: 18px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
#sidebar-togler{
    display: none;
}
#sidebar-untogler{
    display: none;
}

#main-produto{
    display: grid;
    gap: 20px;
    width: 1000px;
    grid-template-columns: 1fr 2fr;
}
#main-produto > a > img{
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 250px;
}
.main-produto-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#main-produto a{
    color: black;
}
.botoes-produto-wrapper{
    gap:5px;
}
.botoes-produto-wrapper > *{
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
}

.sec-produtos a div{
    width: 250px;
    text-decoration: none;
    color: black;
 }
.sec-produto-img{
    width: 100%;
    height: auto;
    min-height: 10px;
    max-height: 100px;
}
@media only screen and (max-width: 600px) {
	.sidebar{
        display: none;
    }
    #sidebar-togler, #sidebar-untogler{
        display: block;
    }
}
