nav{
	padding: 5px;
	background-color: #FBFBFB; 
}
#conteudoNavbarSuportado{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#menu-logo{
	height: 50px;
	width: auto;
}
.menu-logo-wrapper{
	display: flex;
	align-items: center;
}
.nav-list{
	display: flex;
	text-align: none;
	list-style: none;
	align-items: center;
	gap: 12px;
}
.nav-preto a{
	color: black;
}

/*footer*/
footer{
	background-color: #D9D9D9;
}
.footer-categorias-wrapper{
	display: flex;
	justify-content: space-around;
	text-align: left;
	flex-wrap: wrap;
}
.footer-categorias-wrapper ul{
	list-style-type: none;
}
.footer-categorias-wrapper a{
	color: black;
}
