.main{
	padding: 32px;
	display: grid;
	grid-template-columns: 30% 70%;
}
.esquerda{
    grid-column: 1 / 2;
}
.direita{
    grid-column: 2 / 3;
}
.icon{
	width: 2rem;
	height: auto;
}
.botoes-produto-wrapper > *{
	color: black;
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
}
#main-img{
	width: 500px;
	height: auto;
	max-width: 100%;
	max-height: 750px;
	object-fit: fill;
}
.sec-imagens-wrapper{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}

select {
	height: 35px;
	padding: 20px 20px 20px 15px;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
}
.botao{
	border: 2px solid var(--laranja-ms);
	color: var(--laranja-ms);
}
.botao:hover{
	background-color: var(--laranja-ms);
	color: white;
}
#comprovante-container{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
#img-comprovante-pix{
    max-width: 500px;
    height: auto;
}
.mouse-not-allowed{
    cursor: not-allowed;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .nav-list{
        padding: 0;
    }
    .menu-logo-wrapper > span{
        display: none;
    }

    body .main{
        display: flex;
        flex-direction: column;
    }

    #comprovante-container{
        width: 90vw;
    }
}