.main{
	padding: 32px;
	display: grid;
	grid-template-columns: 30% 70%;
}
.icon{
	width: 2rem;
	height: auto;
}
.botoes-produto-wrapper > *{
	color: black;	
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
}
#main-img{
	width: 500px;
	height: 500px;
	object-fit: fill;
}
.sec-img{
	width: 200px;
	height: 200px;
}