:root{
	--laranja-ms: #eec197;
}
body{
	background-image: url('/app/view/img/bg/bg-generic-ms.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.cards-wrapper{
	display: flex;
	justify-content: space-around;
	min-height: 85vh;
	padding: 50px;
}
#card-usuario{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foto-perfil{
	width: 250px;
	height: 250px;
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid black;
}
.foto-perfil:hover{
	opacity: 50%;
}
input[type="file"] {
    display: none;
}
.card-def{
	display: flex;
	flex-direction: column;
	gap: 12px 	;
	align-items: center;
	min-width: 200px;
}
.botao{
	border: 2px solid var(--laranja-ms);
	color: var(--laranja-ms);
}
.botao:hover{
	background-color: var(--laranja-ms);
	color: white;
}
